/*font-family: 'EB Garamond', serif;
        font-family: 'Alegreya Sans', sans-serif;
        font-family: 'Noto Sans KR', sans-serif;*/
        * {
            position: relative;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        header {
            width: 100%;
            height: 80px;
            background-color: white;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 99;
        }


        i {
            color: #333333;
        }

        .section2 {
            display: flex;
            width: calc(100% - 50px);
            height: 80px;
            align-items: center;
            margin: 0 auto;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }

        .section2 .ham-btn {
            width: 150px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;
        }

        .section2 .ham-btn .bars {
            width: 40px;
            height: 24px;
        }

        .section2 .ham-btn .bars span {
            display: block;
            width: 100%;
            height: 1px;
            background-color: #a7a7a7;
            position: absolute;
            top: 50%;
            left: 0;
        }

        .section2 .ham-btn .bars .l1 {
            position: absolute;
            top: 0;
        }

        .section2 .ham-btn .bars .l2 {}

        .section2 .ham-btn .bars .l3 {
            position: absolute;
            top: 24px;
        }

        .section2 .logo {
            width: 150px;
            height: 61px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            top: 3px;
        }

        .section2 .logo img {
            width: 80%;
            height: 80%;
        }

        .section2 .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
        }

        .section2 .menu .menu-li {
            margin-right: 25px;
            font-family: 'Noto Sans KR', sans-serif;
            font-weight: 300;
            font-size: 16px;
        }

        .section2 .menu .menu-li a {
            color: #595959;
        }

        .section2 input {
            height: 55%;
            width: 650px;
            border-radius: 50px;
            border: none;
            background-color: #eeeeee;
            text-indent: 30px;
            color: #595959;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .section2 .icons {
            color: #595959;
            position: absolute;
            right: 0;
            margin-right: 50px;
        }

        .section2 .icons i {
            margin-right: 25px;
            font-size: 20px;
        }


        .fnq {
            width: 100%;
            height: 650px;
        }

        .fnq .main-image {
            width: 100%;
            height: 100%;
            background-image: url(img/women-buying-furniture-at-ikea-store-4f6515cb518002fdd849d2ec92328e33.jpg);
            display: flex;
            background-size: cover;
            justify-content: center;
            align-items: center;
            color: white;
            background-attachment: fixed;
        }

        .fnq .main-image .line {
            display: block;
            width: 160px;
            height: 1px;
            background-color: white;
        }

        .fnq .main-image .title {
            padding: 0 80px;
            letter-spacing: 5px;
            font-size: 51px;
            font-family: 'Noto Sans KR', sans-serif;
        }

        .contents {
            max-width: 1300px;
            height: 900px;
            margin: 0 auto;
            display: flex;
            box-sizing: border-box;
            padding: 150px 0;
        }

        .contents .left {
            width: 30%;
        }

        .contents .left img {
            width: 100%;
        }

        .contents .right {
            width: 70%;
            padding-left: 70px;
        }

        .contents .right .item2 .question {
            width: 100%;
            height: 50px;
            margin: 25px 0;
            font-size: 18px;
            line-height: 50px;
            color: #525252;
            font-family: 'Noto Sans KR', sans-serif;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            text-indent: 20px;
        }

        .contents .right .item2 .question:first-child {
            margin-top: 0;
        }

        .contents .right .item2 .answer {
            padding: 0 80px 0 140px;
            text-align: justify;
            word-break: break-all;
            padding-bottom: 20px;
            display: none;
            font-family: 'Noto Sans KR', sans-serif;
            font-size: 16px;
            color: #5f5f5f;
            line-height: 22px;
        }

        .contents .right .item2 .question .plus-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(-20px, -50%);
            width: 15px;
            height: 15px;
        }

        .contents .right .item2 .question .plus-btn .plus {
            display: block;
            width: 13px;
            height: 1px;
            background-color: #888888;
        }

        .contents .right .item2 .question .plus-btn .plus1 {
            top: 7px;
            left: 1px;
            opacity: 1;
            transition: 0.5s;
        }

        .contents .right .item2 .question .plus-btn .plus2 {
            transform: rotate(-90deg);
            top: 6px;
            left: 1px;
            transition: 0.5s;
        }



        .contents .right .item2.on .plus2 {
            opacity: 0;
            transition: 0.5s;
        }

        .contents .right .item2.on .question .plus-btn .plus1 {
            background-color: #c9ab81;
            transition: 0.5s;
        }

        .item2 {
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        a:hover {
            text-decoration: underline;
        }


        .footer {
            width: 100%;
            height: 220px;
            background-color: #ececec;
        }

        .footer .container2 {
            height: 100%;
            width: 1400px;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0 auto;
        }

        .footer .container2>div {
            padding: 30px;
            font-size: 13px;
            font-family: 'Noto Sans KR', sans-serif;
            color: #7c7c7c;
        }


        .footer .container2 .left4 {
            width: 40%;
        }

        .footer .container2 .left4 .underbox {
            padding-top: 20px;
        }

        .footer .container2 .right4 {
            width: 60%;
        }

        .footer .container2 .right4 ul {
            display: flex;
            position: absolute;
            right: 30px;
            color: #595959;
        }

        .footer .container2 .right4 ul li {
            margin-left: 10px;
        }

        .bg {
            background-color: rgba(0, 0, 0, 0.2);
            position: fixed;
            left: 0;
            top: 0;
            z-index: 999;
            width: 100%;
            height: 100vh;
            display: none;
        }

        .tab {
            width: 400px;
            height: 100vh;
            background-color: white;
            position: fixed;
            top: 0;
            left: -400px;
            z-index: 9999;
            padding: 30px;
            box-sizing: border-box;
        }

        .tab .x-btn {
            position: absolute;
            width: 50px;
            height: 50px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tab .x-btn span {
            display: block;
            height: 1px;
            width: 40px;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .tab .x-btn .x1 {
            transform: rotate(-45deg);
        }

        .tab .x-btn .x2 {
            transform: rotate(45deg);
        }

        .tab .logo {
            position: absolute;
            top: 80px;
            left: 100px;
        }

        .tab .menu-box {
            padding-left: 70px;
            padding-top: 50px;
            top: 80px;
        }

        .tab .menu-box .t-menu {
            font-family: 'Noto Sans KR', sans-serif;
            color: #333333;
        }

        .tab .menu-box .t-menu .bo {
            margin-top: 20px;
        }

        .tab .menu-box .t-menu .big {
            font-size: 35px;
        }

        .tab .menu-box .t-menu .bold {
            font-size: 20px;
            line-height: 30px;
        }

        .tab .menu-box .t-menu .small {
            font-size: 15px;
            line-height: 25px;
        }